* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  max-width: 1050px;
  margin: 0 auto;
}

.container{
  width: 100%;
  display:flex;
  /* align-items: baseline; */
  justify-content: space-between;
 
  
}
.icon{
  display: flex;
  align-items: center;
}

.leftnav{
  display: flex;
  justify-content: end;
  

}

.navigation{
  text-align: right;
  margin-left: 40px;
  margin-right: 0px;
  border: 0px none;
  outline: none;
  text-decoration: none; 
  background: none;
  display: flex;
}

.knopka{
  padding: 10px;
  margin-right: 20px;
  border: 0px none;
  text-align: center;
  outline: none;
  text-decoration: none; 
  background: none;
  font-family: poppins;
  font-size: 14px;
  color: #000;
}

.button{
  display: block;
  width: auto;
  display: flex;

  color: #000;
  
  
  
  
  
}
/* .button{
  
  text-align: center;
  outline: none;
  text-decoration: none; 
  background: none;
  font-size: 20px;
  margin-left: 40px; */

/* } */
.sign1{
  display: block;
  text-align: center;
  width: 100px;
  height: 50px;
  background: white;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  outline: none;
  text-decoration: none; 
  background: none;
  font-family: poppins;
  font-size: 16px;
  margin-left: 40px;
  color: #000;
  padding: 10px;
}


.sign2{
  display:block;
  width: 100px;
  height: 50px;
  background-color: #FF9900;
  border-radius: 4px;
  font-family: poppins;
  font-size: 16px;
  text-align: center;
  text-decoration: none; 
  color: #000;
  padding: 10px;
  margin-left: 15px;
}

.design{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.content{
  text-align: center;
  margin: 0 auto;
}
.imag{
  width: 600px;
  height: 500px;
}
.first{
  width: 100%;
}
.title{
  font-family:poppins;
  font-style: bold;
  font-size: 45px;
  width: 518px;
  /* height: 110px; */
  margin-top: 50px;
  
}
.tools{
  font-family: poppins;
  font: size 18px;
  width: 460px;
  margin-top: 30px;
}

.orange-button{
 width: 175px;
 height: 55px;
 color: white;
 background-color: #FF9900;
 border: none;
 margin-top: 60px;
 margin-right: 30px;
}

.playing{
  width: 175px; 
  height: 55px;
  background-color: transparent;
  margin-top: 60px;
  display: block;
  display: flex;
  align-items: center;
  padding: 10px;
  

}
.music-button{
  display: flex;
  align-content: space-around;
  font-family: poppins;
  font-size: 14px;
  
 
}
.transparent{
  color: #FF9900;
}

