* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: $f-roboto;
  font-size: $fs-base + px;
  
}

li {
  list-style-type: none;
}

.wrapper{
  padding: 44px;
}
// svg{
//   width: 100%;
// }
