:root{
  --color-black:black;
  --color-white:white;
  --color-gray:#F2F2F2
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F2F2F2;
}
.wrapper{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
}


.c-form{
  height: 590px;
  width: 540px;
  background-color: var(--color-white);
  padding: 20px 20px 20px 20px ;
  
  margin: 0% auto;
}
.c-form__title{
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
}
.e-form-item{
  display: block;
}
.c-form__content{
display: inline-block;
margin-bottom: 20px;
}
input{
  padding: 10px auto;
  height: 40px;
  margin-top: 10px;
  
}
.e-form-email__input{
  width: 500px;
}



.c-form__radio{
display: flex;
align-items: center;
}

.e-radio{
  display:inline-block;
  align-items: center;
  width: 100px;
  }
  .e-radio__lable{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
  .e-radio__input{
    margin-top: 0;
    margin-right: 15px;
  }
  .e-name{
    font-family: inter;
    font-size: 15px;
  }





.e-form-item__input{
  width: 248px;
  margin-top: 10px;

}
.name{
  font-family: Inter;
  font-size: 15px;
  font-weight:400;
}
.text-bottom{
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
}
#country{
  display: inline-block;
  width: 248px;
  height: 40px;
  margin-top: 15px;
}
.e-form-city__input{
  width: 248px;
}
.e-form__none{
  width: 500px;
  height: 40px;
}

.c-form__text-bottom{
  display: inline-block;
  text-align: center;
  font-family: inter;
  font-size: 13px;
  margin-left: 40px;
  margin-right: 40px;
  height: 60px;
  border-bottom: 1px solid gray;
}

.e-form__footer{
  font-family: inter;
  font-size: 13px;
  display:block;
  text-align: center;
  margin-top: 20px;
}

/* 2 forms */
.e-photo{
  height: 80px;
  width: 80px;
  
}

.btn-photo{
  width: 140px;
  height: 30px;
  display: flex;
  justify-content: end;
  padding: 7px 10px 7px 10px;
  
}


.c-form__main{
  display: flex;
  justify-content: baseline;
  margin-bottom: 20px;
}
.c-form__content2{
  width: 250px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 20px;
}
.help-text{
  margin-top: 10px;
  font-size: 13px;
}
.e-form-email__input2{
  width: 248px;
}
.submit{
  width: 150px;
  height: 40px;
}
button{
  background-color: white;
}
.name{
  color: #545454;
}
span{
  color: #969696;
}

input, button, select{
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  padding: 7px 10px 7px 10px;
  
}
.btn-del{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 ;
}
select{
  color: #545454;
}
input:hover, button:hover, select:hover{
  border-color:#007BFF;
}


/* .e-photo__input{
height: 30px;
width: 140px;
margin-bottom: 0%;
}


.e-button{
  margin-left: 10px;
}
.e-photo__lable{
  padding-top: 12px;
}
/* /* .e-button{
  margin-left: 10px;
  height: 35px;
  width: 35px;
  padding-bottom: 0;
} */

/* .button{
  height: 30px;
  width: 30px;
  margin: 10px 0 0 0 ;
  
} 


.c-form__photo{
  display: flex;
  justify-content: center;
  align-content: flex-end;
} */
/* .c-form__main{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin: 0 auto;
}
.c-form-content-block{
  margin-left: 20px;
}
link{
  color: gray;
} */

/* .text{
  margin-bottom: 20px;
} */




/* .wrapper{
  max-width: 1100px;
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  
  /* background-color: #F2F2F2;
/* } */ 
/* }
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% auto;
  
}
.container-account{
  height: 600px;
  width: 550px;
  margin: 0 auto;
  background-color: white;
  display: inline-block;
  margin-right: 10px;
  
  padding: 20px 20px 20px 20px;
  
  
  
}

.container-profile{
  height: 600px;
  width: 550px;
  margin: 0 auto;
  background-color: white;
  display: inline-block;
  padding: 20px 20px 20px 20px; 
}
.lable-fname{
  display: inline-block;
}

.lable-lname{
  display: inline-block;
}

#email{
width: 500px;
/* } */ 